<%= form_for @book do |f| %>
<div class="panel-body">
  <% if @book.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <h3> Please correct this following errors:</h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <div class="form-horizontal">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :title, class:"control-label col-md-3" %>
          <div class="col-md-8">
            <%= f.text_field :title, class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :authors, class:"control-label col-md-3" %>
          <div class="col-md-8">
            <%= f.text_field :authors, class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :publishedDate, class:"control-label col-md-3" %>
          <div class="col-md-8">
            <%= f.text_field :publishedDate, class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :publisher, class:"control-label col-md-3" %>
          <div class="col-md-8">
            <%= f.text_field :publisher, class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class:"control-label col-md-3" %>
          <div class="col-md-8">
            <%= f.text_area :description, class:"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :genre, class:"control-label col-md-3" %>
          <div class="col-md-5">
                <%= f.select :genre, [['SF','SF'],['Romance','Romance'],['Comedy','Comedy'],['Adventure','Adventure'],['Classic','Classic'],['Other','Other']], class:"form-control"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-footer">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <button type="submit" class="btn btn-primary">Save</button>
          <%= link_to "Cancel", books_path, class:"btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
