<div class="panel panel-default">
  <table class="table">
    <% @books.each do |book| %>

    <tr>
      <td class="middle">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="<%= book.genre%>.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= book.title %></h4>
            <address>
              <strong>Author : <%= book.authors %></strong><br>
              <strong>description : <%= book.description %></strong><br>
              <strong>published date : <%= book.publishedDate %></strong><br>
              <strong>genre : <%= book.genre %></strong><br>
              <%= book.publisher %>
            </address>
          </div>
        </div>
      </td>
      <td width="100" class="middle">
        <div>
          <a href="#" class="btn btn-circle btn-default btn-xs" title="Edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a href="#" class="btn btn-circle btn-danger btn-xs" title="Edit">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>
